$color-primary: #A7002E;
$color-primary-hover: #5B0015;

$color-secondary: #111827;
$color-secondary-hover: #1c2740;

$color-black: #141414;
$color-grey: #737373;

$color-grey-light-over: #b0b3bd;
$color-grey-light-hover: #c9cfd7;
$color-grey-light: #e0e4e9;

$color-grey-soft-hover: #eaeef2;
$color-grey-soft: #F5F7F9;

$color-accent: #ff5722;
$radius-md: 12px;
$radius-sm: 6px;
$space-md: 16px;
$space-sm: 8px;

$border-radius: 10px;
$border-radius-small: 4px;